<div class="home-question-form">

	<%= form_for(@question, :html => { :class => "message-form"}) do |f| %>

        <% if @question.errors.any? %>

        	<div id="error_explanation">

	            <h2><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:</h2>

	            <ul>

		            <% @question.errors.full_messages.each do |message| %>
		              
		              <li><%= message %></li>

		            <% end %>

	            </ul>

	        </div>

        <% end %>

        <%= f.text_area :body, placeholder: "Ask a Question", :rows => "2", autofocus: false, class: "question-text" %>

        <div class="question-ask-submit-container">

        	<%= f.submit "Ask", class: "question-ask-submit default-off", id: "question-ask-submit" %>

        </div>

	<% end %>

</div>
