<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @hide_menu %>

	<%= render 'layouts/header_responsive' %>
	
<%end%>

<div class="main-content">
	<%= yield %>
</div>

</body>
</html>
